<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Officerounddesk">
  <link
    name="Officerounddesk">
    <inertial>
      <origin
        xyz="-2.8108E-17 5.357E-17 0.44215"
        rpy="0 0 0" />
      <mass
        value="10.246" />
      <inertia
        ixx="0.36948"
        ixy="5.1245E-17"
        ixz="5.6607E-17"
        iyy="0.36948"
        iyz="-1.1775E-16"
        izz="0.49228" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Officerounddesk/meshes/Officerounddesk.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
        <texture
          filename="package://Officerounddesk/textures/" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Officerounddesk/meshes/Officerounddesk.STL" />
      </geometry>
    </collision>
  </link>
</robot>